:root{
  --button-color:linear-gradient(
    90deg, #218986 -0.9%, #0E6774 52.49%, #0C6766 100%);
    --texts-color:#fff;
    --opacity-texts-color:#fff9;
    --menu-panel-background: linear-gradient(90deg, #218986 -0.9%, #0E6774 52.49%, #0C6766 100%);
    --dark-blue:#42495b;
    --see-more-link-color:#2E3872;
    --dark-green:#218986;
}
body {
  background-color: #f5f5f5;
}
.container {
  padding: 0 165px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
.navbar,.menu-panel{
 width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 101px;
  height: 101px;
  display: flex;
}
.nav-pagination-links ul {
  display: flex;
  list-style: none;
}
.nav-pagination-links ul li a{
  text-decoration: none;
  color: var(--opacity-texts-color);
  font-weight: 500;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
}
.nav-pagination-links ul li a:hover{
 color: var(--texts-color);
}
.nav-registration button{
background: none;
border: none;
color: var(--texts-color);
font-size: 14px;
font-weight: 500;
margin: 0 10px;
cursor: pointer;
}
.nav-registration button:hover{
opacity: .7;
}
.nav-registration .sign-up{
border: 2px solid var(--texts-color);
border-radius: 10px;
padding: 10px 25px;
}
.menu-panel{
 display: flex;
}
.nav-hamburger{
 display: none;
}
.nav-close-menu{
 display: none;
}
@media screen and (max-width:1440px) {
.container{
 padding: 0 100px;
}
}
@media screen and (max-width:1180px) {
 .container{
  padding: 0 60px;
 }
 .nav-close-menu{
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 7%;
  color: var(--texts-color);
  font-size: 26px;
 }
 .menu-panel{
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  transition: all .6s ease-out;
  align-items: center;
  background: var(--menu-panel-background);
  transform: translateX(-200%);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
 }
 .doorMenu{
  transform: translateX(0) !important;
  opacity: 1;
 }
 .navbar{
  justify-content: end;
 }
.nav-logo{
 width: 200px;
 height: 200px;
 margin-bottom: 1rem;
}
.nav-pagination-links ul{
 display: block;
 text-align: center;
}
.nav-pagination-links ul li{
 font-size: 25px;
 padding: 20px 0;
}
 .nav-hamburger{
  margin-top: 1.5rem;
  color: var(--texts-color);
  font-size: 26px;
  display: block;

 }
 .nav-registration button{
  font-size: 25px;
  margin: 0 40px;
 }
 .nav-registration{
  margin-top: 2rem;
 }

}
@media screen and (max-width:768px) {
 .container{
  padding: 0 40px;
 }
 .nav-hamburger{
  margin-top: 1rem;
}
 .nav-pagination-links ul li{
  font-size: 20px;
  padding: 13px 0;
 }
 .nav-logo{
  width: 150px;
  height: 150px;
 }
 .nav-close-menu{
   top: 1rem;
 }
 .nav-close-menu,.nav-hamburger{
  font-size: 20px;
 }
 .nav-registration button{
  font-size: 20px;
  margin: 0 20px;
 }
 .nav-registration{
  margin-top: 1rem;
 }
}
@media screen and (max-width:425px) {
 .nav-close-menu,.nav-hamburger{
  font-size: 15px;
 }
 .container{
  padding: 0 20px;
 }
 .nav-registration button{
  font-size: 17px;
  margin: 0 15px;
 }
 .nav-registration{
  margin-top: 1rem;
 }
}
/* Navbar style end */

.header {
  height: 100vh;
  background: url(../assets/images/main/header-img1.png),url(../assets/images/main/header-img3.png),url(../assets/images/main/header-img2.png),url(../assets/images/main/header-background.png);
  background-repeat: no-repeat;
  color: var(--texts-color);
  background-size:468px,358px,358px, cover;
  background-position: left 65%  bottom,bottom 50px left 80%,bottom 50px left 48%,center;
}
.header-text-box{
  width: 40%;
}
.header-content{
  display: flex;
  margin-top: 47px;
}
.header-desciption{
  font-weight: 500;
  font-size: 20px;
  width:75%;
  margin-bottom: 60px;
  color: var(--opacity-texts-color);
  text-transform: capitalize;
}
.header-button{
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  padding: 19px 35px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}
.header-title{
  font-size: 70px;
  font-weight: 700;
  color: var(--opacity-texts-color);
  margin-bottom: 12px;
}
.header-title span{
  color: var(--texts-color);
}
.header-arrow{
margin-top: 3rem;
}
@media screen and (max-width:1440px) {
  .header {
    background-size:468px,358px,358px, cover;
    background-position: left 65%  bottom,bottom 50px left 85%,bottom 50px left 43%,center;
  }
  .header-title{
    font-size: 60px;
    font-weight: 700;
  }
  .header-button{
    font-size: 14px;
    font-weight: 500;
    padding: 16px 32px;
  }
  .header-desciption{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width:1180px) {
  .header {
    background-size:368px,308px,308px, cover;
    background-position: left 50%  bottom 40%,bottom 40% left 80%,bottom 40% left 20%,center;
  }
  .header-title{
    font-size: 50px;
    font-weight: 700;
  }
  .header-desciption{
    font-weight: 500;
    font-size: 20px;
    width:50%;
    margin: 20px auto;
    margin-bottom: 50px;
  }
  .header-arrow{
  display: none;
  }
  .header-text-box{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .header {
    background-size:318px,258px,258px, cover;
    background-position: left 50%  bottom 40%,bottom 40% left 90%,bottom 40% left 10%,center;
  }
  .header-title{
    font-size: 40px;
    font-weight: 700;
  }
  .header-desciption{
    font-weight: 500;
    font-size: 16px;
    width:60%;
    margin: 20px auto;
    margin-bottom: 50px;
  }
  .header-button{
    font-size: 14px;
    padding: 12px 28px;
  }
}
@media screen and (max-width:500px) {
  .header {
    background-size:200px,178px,178px, cover;
    background-position: left 50%  bottom 30%,bottom 30% left 90%,bottom 30% left 10%,center;
  }
  .header-title{
    font-size: 30px;
    font-weight: 700;
  }
  .header-desciption{
    font-weight: 500;
    font-size: 13px;
    width:60%;
    margin: 20px auto;
    margin-bottom: 30px;
  }
  .header-button{
    font-size: 12px;
    border-radius: 7px;
    padding: 7px 20px;
  }
}

/* Header style end */
.section1{
  margin-top: 90px;
}
.section1-box,.see-more {
  display: flex;
  align-items: center;
}
.section1-img{
  width: 540px;
}
.section1-box2 .sec1-box-texts{
  margin: 0;
}
.section1-box2{
  margin-top: 120px;
}
.section1-box2 .section1-img{
  margin-left: auto;
}
.sec1-box-texts{
  width:35%;
  margin: 0 auto;
}
.sec1-box-title{
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 60px;
}
.sec1-box-description{
  font-weight: 400;
  margin-bottom: 80px;
  line-height: 28px;
  font-size: 18px;
}
.see-more{
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  color: var(--see-more-link-color);
}
.see-more img{
  margin-top: 5px;
  margin-left: 10px;
}
@media screen and (max-width:1180px) {
  .section1-box{
    flex-direction: column-reverse;
  }
  .section1-box2{
    margin-top: 126px;
  }
  .section1-box2 .section1-img{
    margin:0;
  }
  .section1-box2{
    flex-direction: column;
  }
  .sec1-box-texts{
    width:80%;
    text-align: center;
  }
  .section1-img{
    width: 590px;
  }
  .sec1-box-title{
    font-size: 40px;
    margin-bottom: 60px;
  }
  .sec1-box-description{
    line-height: 28px;
    font-size: 25px;
  }
  .see-more{
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .see-more img{
    margin-top: 5px;
    margin-left: 10px;
  }
}
@media screen and (max-width:768px) {
  .section1-box2{
    margin-top: 126px;
  }
  .sec1-box-texts{
    width:90%;
  }
  .section1-img{
    width: 330px;
  }
  .sec1-box-title{
    font-size: 28px;
    margin-bottom: 40px;
  }
  .sec1-box-description{
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .see-more{
    font-weight: 600;
    font-size: 14px;
    justify-content: center;
  }
  .see-more img{
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
@media screen and (max-width:425px) {
  .section1-box2{
    margin-top: 126px;
  }
  .sec1-box-texts{
    width:90%;
  }
  .section1-img{
    width: 230px;
  }
  .sec1-box-title{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sec1-box-description{
    line-height: 28px;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .see-more{
    font-weight: 600;
    font-size: 14px;
    justify-content: center;
  }
  .see-more img{
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
/* Section1 style end */

.aktivitelerimiz-title{
  text-align: center;
  color: var(--dark-green);
}
.aktivitelerimiz{
  position: relative;
  margin-top: 120px;
}
.aktivitelerimiz-links{
  margin-top: 2rem;
}
.aktivitelerimiz-links ul{
display: flex;
justify-content: center;
list-style: none;
}
.aktivitelerimiz-links ul li a{
  text-decoration: none;
  color: #42495B;
  opacity: .5;
  font-weight: 500;
  font-size: 14px;
  padding: 0 15px;
}
.aktivitelerimiz-links ul li a:hover{
  opacity: 1;
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 70px 0;
}
.card-item{
  background: #fff;
  text-align: left;
  transition: .3s all;
  width: 350px !important;
  cursor: pointer;
  border-radius: 20px;
}
.card-item-img{
  object-fit: cover;
  width: 100%;
}
.card-item-title{
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-blue);
}
.card-item-texts{
  padding: 22px;
}
.card-item-arrow{
  width: 40%;
  margin-top: 15px;
  border-radius: 2px;
  border-bottom: 3px solid var(--dark-green);
}
.card-item-description{
  font-weight: 400;
  font-size: 18px;
  color: var(--dark-blue);
  margin: 16px 0;
}
.card-item-bottom,.time,.adress{
  display: flex;
  align-items: center;
  height: max-content;
}
.card-item-date{
  display: none;
}
.time{
  margin-right: 12px;
}
.card-item-date{
  margin-left: 10px;
}
.time img ,.adress img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.time p,.adress p{
  font-weight: 400;
  font-size: 12px;
  color: var(--dark-blue);
}
.card-item:hover .card-item-date{
  display: flex;
}
.swiper2 .card-item:hover .card-item-date{
  display: none;
}
.card-item:hover{
  box-shadow: 0px 10px 30px 0px #3333331A;

}
.card-item-btn{
  font-weight: 500;
  font-size: 14px;
  padding: 11px 30px;
  color: var(--texts-color);
  border-radius: 10px;
  background:var(--button-color)}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet-active{
  background:var(--button-color);
  width: 16px;
  height: 16px;
}
.swiper-pagination-bullet{
  background: linear-gradient(90deg, #218986 -0.9%, #0E6774 52.49%, #0C6766 100%);
}
.swiper-pagination{
  align-items: center;
  display: flex;
  justify-content: center;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 0px;
}
@media screen and (max-width:768px){
  .swiper-pagination-bullet-active{
    background:var(--button-color);
    width: 13px;
    height: 13px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  }
  .aktivitelerimiz-title{
    font-size: 25px;
  }
  .aktivitelerimiz-links{
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;

  }
.aktivitelerimiz-links::-webkit-scrollbar {
  width: 0px;
}
  .aktivitelerimiz-links ul{
  display: flex;
  justify-content: center;
  list-style: none;
  width: max-content;
  margin: 0 auto;
  }
  .aktivitelerimiz-links ul li a{
    text-decoration: none;
    color: #42495B;
    opacity: .5;
    font-weight: 500;
    font-size: 11px;
    padding: 0 12px;
  }
  .card-item{
    width: 280px !important;
    border-radius: 20px;
  }
  .card-item-title{
    font-weight: 500;
    font-size: 21px;
  }
  .card-item-texts{
    padding: 18px;
  }
  .card-item-arrow{
    width: 40%;
    margin-top: 15px;
    border-radius: 2px;
    border-bottom: 3px solid var(--dark-green);
  }
  .card-item-description{
    font-weight: 400;
    font-size: 15px;
    margin: 16px 0;
  }
  .time{
    margin-right: 8px;
  }
  .card-item-date{
    margin-left: 11px;
  }
  .time img ,.adress img {
    width: 15px;
    height: 15px;
    margin-right: 2px;
  }
  .time p,.adress p{
    font-weight: 400;
    font-size: 8px;
  }
  .card-item-btn{
    font-size: 11px;
    padding: 11px 25px;
    border-radius: 10px;
  }

}
@media screen and (max-width:630px){
  .swiper-pagination-bullet-active{
    background:var(--button-color);
    width: 10px;
    height:10px;
  }
  .aktivitelerimiz-title{
    font-size: 24px;
  }
  .aktivitelerimiz-links ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: max-content;

  }
  .aktivitelerimiz-links ul li a{
    text-decoration: none;
    color: #42495B;
    opacity: .5;
    font-weight: 500;
    font-size: 13px;
    padding: 0 14px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  }
  .card-item{
    width: 240px !important;
    border-radius: 16px;
  }
  .card-item-title{
    font-weight: 500;
    font-size: 18px;
  }
  .card-item-texts{
    padding: 15px;
  }
  .card-item-arrow{
    width: 40%;
    margin-top: 12px;
    border-radius: 2px;
    border-bottom: 2px solid var(--dark-green);
  }
  .card-item-description{
    font-weight: 400;
    font-size: 11px;
    margin: 16px 0;
  }
  .time{
    margin-right: 8px;
  }
  .card-item-date{
    margin-left: 9px;
  }
  .time img ,.adress img {
    width: 12px;
    height: 12px;
    margin-right: 2px;
  }
  .time p,.adress p{
    font-weight: 400;
    font-size: 6px;
  }
  .card-item-btn{
    font-size: 9px;
    padding: 9px 21px;
    border-radius: 7px;
  }

}
.swiper2 .card-item-date{
  display: none;
  }
  .mySwiper2 .card-item-btn{
background: none;
border-radius: 0;
color: #2E3872;
font-size: 18px;
font-weight: 400;
padding: 0;
  }
  @media screen and (max-width:1024px) {
    .mySwiper2 .card-item-btn{
      font-size: 16px;
        }
  }
  @media screen and (max-width:768px) {
    .mySwiper2 .card-item-btn{
      font-size: 14px;
        }
  }

  @media screen and (max-width:425px) {
    .mySwiper2 .card-item-btn{
      font-size: 12px;
        }
  }

/* Aktivitelerimiz style end */


.projelerimiz{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-blue);
  margin-top: 120px;
}
.projelerimiz-title{
  font-weight: 600;
  font-size: 52px;
  margin-bottom: 10px;
}
.projelerimiz-description,.projelerimiz-button{
  font-weight: 500;
  font-size: 16px;
}
.projelerimiz-description{
  opacity: .6;
}
.projelerimiz-button{
  margin-top: 100px;
  color:var(--texts-color);
  background: var(--button-color);
  padding: 16px 80px;
  border: none;
  border-radius: 14px;
}
.projelerimiz-img{
  width: 445px;
}
@media screen and (max-width:1180px) {
.projelerimiz{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-blue);
  margin-top: 120px;
}
.projelerimiz-title{
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 10px;
}
.projelerimiz-description,.projelerimiz-button{
  font-weight: 500;
  font-size: 13px;
}
.projelerimiz-description{
  opacity: .6;
}
.projelerimiz-button{
  margin-top: 100px;
  color:var(--texts-color);
  background: var(--button-color);
  padding: 14px 60px;
  border: none;
  border-radius: 12px;
}
.projelerimiz-img{
  width: 405px;
}
}
@media screen and (max-width:940px) {
.projelerimiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 120px;
}
.projelerimiz-title{
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 10px;
}
.projelerimiz-description,.projelerimiz-button{
  font-weight: 500;
  font-size: 16px;
}
.projelerimiz-description{
  opacity: .6;
}
.projelerimiz-button{
  margin-top: 60px;
  color:var(--texts-color);
  background: var(--button-color);
  padding: 14px 60px;
  border: none;
  border-radius: 12px;
}
.projelerimiz-img{
  width: 445px;
  margin-top: 50px;
}
}
@media screen and (max-width:540px) {
.projelerimiz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 120px;
}
.projelerimiz-title{
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}
.projelerimiz-description,.projelerimiz-button{
  font-weight: 500;
  font-size: 15px;
}
.projelerimiz-description{
  opacity: .6;
}
.projelerimiz-button{
  margin-top: 60px;
  color:var(--texts-color);
  background: var(--button-color);
  padding: 14px 60px;
  border: none;
  border-radius: 12px;
}
.projelerimiz-img{
  width: 385px;
  margin-top: 50px;
}
}
@media screen and (max-width:425px) {
  .projelerimiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--dark-blue);
    margin-top: 120px;
  }
  .projelerimiz-title{
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 20px;
  }
  .projelerimiz-description,.projelerimiz-button{
    font-weight: 500;
    font-size: 13px;
  }
  .projelerimiz-description{
    opacity: .6;
  }
  .projelerimiz-button{
    margin-top: 60px;
    color:var(--texts-color);
    background: var(--button-color);
    padding: 12px 45px;
    border: none;
    border-radius: 10px;
  }
  .projelerimiz-img{
    width: 265px;
    margin-top: 50px;
  }
  }
/* Projelerimiz style end */

.landing-email{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 4px solid #218986;
  border-radius: 20px;
  padding: 45px;
}
.landing-email-input{
  width: 300px;
  border: none;
  border-radius: 10px;
  padding: 16px;
}
.landing-email-btn{
  font-size: 16px;
  font-weight: 500;
  color: var(--texts-color);
  background: var(--button-color);
  padding: 16px 21px;
  border-radius: 14px;
  margin-left: 35px;
}
.landing-email-right-box a{
padding: 0 20px;
}
@media screen and (max-width:1024px) {
  .landing-email{
    flex-direction: column;
  border-radius: 20px;
    padding: 35px;
  }
  .landing-email-left-box{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .landing-email-input{
    width: 60%;
    border-radius: 10px;
    padding: 16px;
  }
  .landing-email-btn{
    font-size: 16px;
    font-weight: 500;
    color: var(--texts-color);
    background: var(--button-color);
    padding: 16px 21px;
    border-radius: 14px;
    margin-left: 35px;
  }
  .landing-email-right-box{
    margin-top: 2rem;
  }
  .landing-email-right-box a{
  padding: 0 20px;
  }
}
@media screen and (max-width:600px){
  .landing-email{
    flex-direction: column;
  border-radius: 20px;
  border-width: 3px;
    padding: 25px;
  }
  .landing-email-left-box{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .landing-email-input{
    width: 60%;
    border-radius: 10px;
    padding: 12px;
  }
  .landing-email-btn{
    font-size: 16px;
    font-weight: 500;
    color: var(--texts-color);
    background: var(--button-color);
    padding: 12px 21px;
    border-radius: 10px;
    margin-left: 25px;
  }
  .landing-email-right-box{
    margin-top: 2rem;
  }
  .landing-email-right-box a{
  padding: 0 15px;
  }
  .landing-email-right-box a img{
    width: 30px;
  }
}
@media screen and (max-width:400px) {
  .landing-email-left-box{
    flex-direction: column;
    align-items: center;
  }
  .landing-email-input{
    display: block;
    width: 96%;
    border-radius: 9px;
  }
  .landing-email-btn{
    margin-top: 1rem;
    padding: 11px 29px;
    margin-left: 0;
  }
}
/* Landing email style end */

.partners-img{
  width: 150px;
}
.partners{
  margin-top: 120px;
}
.mySwiper3 .swiper-wrapper{
  display: flex;
  align-items: center;
}
@media screen and (max-width:800px) {
  .partners-img{
    width: 100px;
  }
}
/* Partners style end */

.footer{
  background: #030101;
  padding: 45px 0;
  color: #fff;
  margin-top: 120px;
}
.footer a{
  text-decoration: none;
  color: #fff;
}
.footer-grid{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-item h3{
font-size: 16px;
font-weight: 600;
margin-bottom: 30px;
}
.footer-item p{
  font-size: 14px;
  margin-bottom: 20px;
}
.footer-bootom-links{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-bottom-left a{
margin-right: 30px;
}
.footer-bottom-right a{
padding: 0 12px;
}
@media screen and (max-width:800px) {
.footer-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}
.footer-item{
  margin-bottom: 3rem;
}
  .footer-bootom-links{
    font-size: 14px;
  }
}
@media screen and (max-width:590px) {
.footer-grid{
  grid-template-columns: 1fr;
}
.footer-bootom-links{
  flex-direction: column;
}
.footer-bottom-left{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-bottom-left a{
  margin: 0;
}
.footer-bottom-right{
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.footer-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer-item p{
  font-size: 18px;
}
.footer-item h3{
  font-size: 20px;
}
}
/* Footer style end */